.nav-container {
  display: flex;
  align-items: center;
  padding: 20px 0px 20px 150px;
}

.nav-name {
  font-weight: 400;
  font-size: 24px;
  color: var(--main-orange);
  margin-right: 188px;
  font-family: "Oswald", serif;
}

.nav-sections {
  display: flex;
  list-style: none;
  -moz-column-gap: 65px;
       column-gap: 65px;
}

.nav-section-names {
  font-weight: 400;
  font-size: 20px;
  transition: color 0.5s;
  font-family: "Raleway", serif;
}

.nav-section-names:hover {
  color: var(--main-orange);
  cursor: pointer;
}

.nav-logo {
  margin-right: 22px;
  width: 80px;
  height: 80px;
}

.header {
  width: 1920px;
  height: 758px;
  background: #FFE4CC;
  display: flex;
}

.header-Welcome {
  font-size: 16px;
  color: var(--main-orange);
  margin-bottom: 20px;
  font-family: "Raleway", serif;
}

.header-flavor {
  font-weight: 700;
  font-size: 48px;
  color: var(--main-red);
  margin-bottom: 45px;
  font-family: "Nunito", serif;
}

.header-desc {
  font-size: 20px;
  margin-bottom: 45px;
  font-family: "Nunito", serif;
}

.header-order {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  padding: 15px 30px;
  width: 163px;
  height: 57px;
  background: var(--main-red);
  border-style: none;
  font-family: "Nunito", serif;
}

.header-ice-cream {
  width: 501px;
  height: 758px;
}

.header-text {
  margin: 134px 397px 150px 150px;
}

.cards {
  display: flex;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 60px 0px;
}

.card-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 117px;
       column-gap: 117px;
  border-radius: 10px;
  width: 800px;
  height: 500px;
  background: #efefef;
}

.cards-title {
  font-weight: 700;
  font-size: 36px;
  color: var(--main-red);
  font-family: "Nunito", serif;
  margin-bottom: 10px;
}

.cards-num {
  font-size: 20px;
  font-family: "Raleway", serif;
  margin-bottom: 45px;
}

.cards-shop {
  font-size: 20px;
  font-family: "Raleway", serif;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 15px 30px;
}

.card-2 {
  display: flex;
  align-items: center;
  -moz-column-gap: 117px;
       column-gap: 117px;
  border-radius: 10px;
  width: 800px;
  height: 500px;
  justify-content: center;
  background: #efefef;
}

.cards-text {
  display: flex;
  flex-direction: column;
}

.flavors {
  padding: 60px 0px;
  background: #ffe4cc;
}

.flavors-title {
  font-family: "Nunito", serif;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: var(--main-red);
  margin-bottom: 40px;
}

.flavors-desc {
  font-family: "Raleway", serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 68px;
}

.flavors-pictures {
  border-radius: 5px;
  width: 390px;
  height: 300px;
  align-self: center;
  margin-top: 20px;
  margin-right: 20px;
}

.flavors-img-container {
  margin-left: 150px;
}

.footer-data {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 100px 150px;
  justify-content: center;
}

.footer-data-card {
  width: 33%;
  display: flex;
  padding: 30px 0px 53px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: all 0.5s;
}

.footer-data-card:hover {
  background-color: var(--main-red);
  cursor: pointer;
}

/*
.footer-data-card:nth-child(2){
    padding-left: 189px;
    padding-right: 189px;
}
.footer-data-card:last-child{
    padding-left: 35px;
    padding-right: 35pxpx;
} */
.footer-data-card-photo {
  margin-bottom: 40px;
}

.footer-data-card-title {
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: 700;
  color: var(--main-red);
}

.footer-data-card-subtitle {
  text-align: center;
  font-size: 24px;
  color: #000;
  text-decoration: none;
}

.footer-data-card:hover > .footer-data-card-title, .footer-data-card:hover > .footer-data-card-subtitle {
  color: white;
}

.footer-policy {
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 150px;
}

.footer-policy-left {
  display: flex;
  align-items: center;
  -moz-column-gap: 37px;
       column-gap: 37px;
}

.footer-policy-left-name-logo {
  color: var(--main-orange);
  font-size: 24px;
}

.footer-policy-desc {
  font-size: 20px;
  color: white;
}/*# sourceMappingURL=style.css.map */