@import './components/header';
@import './components/hero';
@import './components/cards';
@import './components/flavors';
@import './components/footer';

$mainRed: #ff463a;
$mainOrange: #ff993a;

@mixin mainFunction ($df, $jc, $ai) {
    display: $df;
    justify-content: $jc;
    align-items: $ai;
}

@mixin wh ($width, $height) {
    width: $width;
    height: $height;
}

@mixin font ($size, $family) {
    font-size: $size;
    font-family: $family;
}

%fontFamily1{
    font-family: "Raleway", serif;
}
%fontFamily2{
    font-family: "Oswald", serif;
}
%fontFamily3{
    font-family: "Nunito", serif;
}