@import "/styles/reset.css";
@import "/styles/colors.css";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #000;
}
.page-wrapper{
    width: 1920px;
    margin: 0 auto;
    background: white;
}
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
.nav-name {
font-weight: 400;
font-size: 24px;
color: var(--main-orange);
margin-right: 188px;
font-family: "Oswald", serif;
}
.nav-sections {
    display: flex;
    list-style: none;
}
.nav-section-names {
    font-weight: 400;
font-size: 20px;

margin: 0px 65px;
transition: color .5s;
font-family: "Raleway", serif;
}
.nav-section-names:hover{
    color: var(--main-orange);
    cursor: pointer;
}
.nav-logo {
    margin-right: 22px;
    width: 80px;
    height: 80px;
}
.header {
    width: 1920px;
    height: 758px;
    background: #FFE4CC;
    display: flex;
}
.header-Welcome {
font-size: 16px;
color: var(--main-orange);
margin-bottom: 20px;
font-family: "Raleway", serif;
}
.header-flavor {
    font-weight: 700;
font-size: 48px;
color: var(--main-red);
margin-bottom: 45px;
font-family: "Nunito", serif;
}
.header-desc {
font-size: 20px;
margin-bottom: 45px;
font-family: "Nunito", serif;
}
.header-order {
    font-weight: 700;
font-size: 20px;
color: #fff;
border-radius: 5px;
padding: 15px 30px;
width: 163px;
height: 57px;
background: var(--main-red);
border-style: none;
font-family: "Nunito", serif;
}
.header-ice-cream {
    width: 501px;
height: 758px;
}
.header-text{
    margin: 134px 397px 150px 150px;
}
.cards {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding: 60px 0px;
}
.card-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 117px;
    border-radius: 10px;
width: 800px;
height: 500px;
background: #efefef;
}
.cards-title {
    font-weight: 700;
font-size: 36px;
color: var(--main-red);
font-family: "Nunito", serif;
margin-bottom: 10px;
}
.cards-num {
    font-size: 20px;
font-family: "Raleway", serif;
margin-bottom: 45px;
}
.cards-shop {
    font-size: 20px;
font-family: "Raleway", serif;
border: 1px solid #000;
border-radius: 5px;
padding: 15px 30px;
}
.cards-1-ice-cream {
}
.card-2 {
    display: flex;
    align-items: center;
    column-gap: 117px;
    border-radius: 10px;
    width: 800px;
    height: 500px;
    justify-content: center;
    background: #efefef;
}
.cards-2-ice-cream {
}
.cards-text{
    display: flex;
    flex-direction: column;
}
.flavors {
height: 999px;
background: #ffe4cc;
}
.flavors-title {
    font-family: "Nunito", serif;
    font-weight: 700;
font-size: 48px;
text-align: center;
color: var(--main-red);
margin-bottom: 40px;
}
.flavors-desc {
    font-family: "Raleway", serif;
    font-size: 20px;
text-align: center;
margin-bottom: 68px;
}
.flavors-pictures {
    border-radius: 5px;
width: 390px;
height: 300px;
align-self: center;
margin-top: 20px;
margin-right: 20px;
}
.flavors-img-container {
    margin-left: 150px;
}